@tailwind base;
@tailwind components;
@tailwind utilities;

.nostyle,
ul,
ol,
li {
  list-style-type: none !important;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    /* @apply bg-black tracking-wide; */
    @apply bg-primary tracking-wide;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
    /* @apply bg-primary text-4xl sm:text-5xl md:text-6xl; */
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }

  #new-quote {
    @apply bg-primary;
  }

  Link {
    @apply bg-primary;
  }
}

